$light-gray: #DADBDF;
$light-gray-2: #f0f2fa;

$dark-light: #28292D;
$dark-light-1: #2b2c30;
$dark-light-2: #35363a;
$dark-light-3: #424347;

$dark: #111111;
$dark-2: #171717;

$bgDark: #101010;

$darkness: #212529;
$darkness-1: #212121;

$primary: #0E6EFD;

$red: #fc3a46;

$blue: #038BFB;
