.header {
  display: flex;
  margin-top: 26px;
}

.title {
  margin: 0 !important;
}

.button {
  border: none;
  background: none;
  cursor: pointer;
}

.icon {
  color: #f0f2fa !important;
  font-size: 20px;
  margin-right: 10px;
}
