.form {
  display: block;
  margin-top: 48px;
}

.input {
  width: 100%;
  margin-bottom: 16px;
}

.button {
  display: flex;
  justify-content: start;
  margin-top: 32px;
}

.formItem {
  color: #f0f2fa !important;
}
