.layout {
  background-color: #171717 !important;
}

.menu {
  background-color:#171717;
  padding: 85px 14px;
}

.header {
  padding: 0;
  background-color: #212121;
}

.sider {
  background-color:#171717 !important;
}

.menuItem {
  background-color:#171717 !important;
  color: #f0f2fa !important;
}

.menuItemActive {
  background-color: #212529 !important;
  font-weight: bold;
}

.btn {
  color: #f0f2fa;
  font-size: 16px;
  width: 64px !important;
  height: 64px !important;
}

.content {
  background-color: #212121;
  margin: 0px 16px;
  padding: 0px 24px;
  min-height: 280px;
  overflow: initial;
}

.secondaryLayout {
  background-color: #212121;
}
