.trashIcon {
  color: #BD3E33 !important;
}

.trashIcon, .icon {
  font-size: 20px;
}

.okButton {
  background-color: #0E6EFD;
  color: #f0f2fa;
}

.cancelButton {
  background-color: #BD3E33;
  border: none;
  color: #f0f2fa;
}


