body {
  margin: 0;
  background-color:  #2b2c30 !important;
}

h1, h2, h3, h4, h5, h6, p, th, tr {
  color: #f0f2fa !important;
}

.ant-empty-description {
  color: #f0f2fa !important;
}

input {
  background-color:  #2b2c30 !important;
  border-color: #424347 !important;
  color: #f0f2fa !important;
}

input::placeholder {
  color:#bcbcbc !important;
}

.ant-menu-item {
  padding: 0 !important;
  background-color:#171717 !important;
}

.ant-menu-submenu-arrow {
  color: white !important; /* Change arrow color to white */
}

.success-message {
  background-color: #424347 !important;
  color: #f0f2fa !important; /* cor verde para mensagem de sucesso */
}

.ant-popconfirm-title span {
  color: #f0f2fa !important;
}

.ant-pagination {
  background-color: #212121!important;
}

.ant-pagination-item a {
  color: #f0f2fa !important;
}

.anticon-right {
  color: #f0f2fa;
}

.anticon-left {
  color: #f0f2fa;
}

.ant-pagination-item-active {
  background-color: #212529 !important;
}

.ant-tabs-tab {
  color: #f0f2fa !important;
}

.ant-tabs-tab-active {
  color: #0E6EFD !important;
}

.ant-tabs-nav::before {
  border-color: #424347 !important;
}

.ant-tabs-content-holder {
  color: #f0f2fa;
  text-align: center;
}

.ant-card {
  min-height: 340px;
  background-color: #424347 !important;
}

.ant-card-head {
  border: none !important;
}

.ant-card-head-title {
  color: #f0f2fa;
}

.ant-card-body {
  margin: 0 !important;
  padding-left: 20px !important;
  padding-right: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 20px !important;
  text-align: center;
}

.input {
  background-color: #212529 !important;
}
